.appbulk-bundle-infor{

}
#bizweb_bundle .combo-package{
    border:none;
    width: 300px;
    margin: 5px 5px 5px 5px;
}
#bizweb_bundle table, #bizweb_bundle table td, #bizweb_bundle table tr{
    border:none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#bizweb_bundle .combo-price{
    float: left;
    position: relative;
}
#bizweb_bundle .product-bundle-price-origin{
    float: left;
    width: auto;
    line-height: 1;
    margin: 0px 0px 0px 0px;
    position: absolute;
    bottom: 1px;
}
#bizweb_bundle .product-bundle-price-sales{
    width: auto;
 line-height: 1;
    margin: 0px 0px 0px 0px;
    bottom: 1px;
}
#bizweb_bundle .combo-package td{
    vertical-align: top;
}
#bizweb_bundle .table-product{
    max-width: 150px;
    min-width: 50px;
}
#bizweb_bundle .product-bundle-image{
    width: 120px;
    height: 120px;
    margin: auto;
    min-width: 50px;
}
#bizweb_bundle .product-bundle-variant select{
    max-width: 120px;
    width: 100%;
    margin: auto;
    min-width: 70px;
}
#bizweb_bundle .product-bundle-image img{
    margin: 2px;
    width: calc(100% - 4px);
    max-width: 120px;
    max-height: 120px;
    min-width: 50px;
}
#bizweb_bundle .product-bundle-price-sales{
    float: left;
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
}
#bizweb_bundle .product-bundle-price-origin{
    font-size: 11px;
    text-decoration: line-through;
}
#bizweb_bundle .product-bundle-name{
    font-weight: bold;
    float: left;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    max-width: 120px;
}
#bizweb_bundle .product-bundle-name a{
    font-weight: bold;
    word-wrap: break-word;
}
#bizweb_bundle .combo-package-name{
    margin-left: 5px;
    font-weight: bold;
    text-align: left;
}
#bizweb_bundle .product-bundle-image-plus{
	line-height: 120px;
	max-width: 50px;
	min-width: 20px;
}
#bizweb_bundle .product-combo{
	height: 120px;
	width: 215px;
	min-width: 20px;
}
#bizweb_bundle .product-bundle-combo-result{
	width: 175px;
	height: 120px; 
	float: left;
	display: table;
	min-width: 20px;
}
#bizweb_bundle .combo-inner{
	vertical-align: middle;
	display: table-cell;
	text-align: left;
	font-weight: 400;
}
#bizweb_bundle .product-bundle-price{
	text-align: left;
	width: 100%;
}
#bizweb_bundle .product-bundle-image-equal{
	float: left;
	line-height: 120px;
	width: 30px;
	min-width: 20px;
}
#bizweb_bundle .product-bundle-image-plus img{
	max-width: 30px;
	min-width: 20px;
	margin: 0px;
}
#bizweb_bundle button{
	margin: 0px;
	padding: 8px 20px;
	text-transform: initial;
	border:none;
	font-weight: 400;
	border-radius: 4px 4px 4px 4px;
}
#bizweb_bundle .combo-inner button *{
	padding: 0px;
	letter-spacing: normal;
	text-transform: none;
}
#bizweb_bundle button .top-button{
	display: block;
	padding-bottom: 8px;
	border:none;
}
#bizweb_bundle button .bottom-button{
	display: block;
	padding-top: 8px;
	border:none;
}
#bizweb_bundle .product-bundle-image-equal img{
	max-width: 40px;
	width: 90%;
}
#bizweb_bundle{
	float: left;
}